.project-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #F5F7F8;
  margin-top: 0rem;
}

.toogle-container{
  display: flex;
}

.personal-button{
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
  width: 6rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}


.professional-button{
  margin-right: 1.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
  width: 6rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.professional-button:hover{
  transform: scale(1.15);
}

.personal-button:hover{
  transform: scale(1.15);
}

.project-image{
  display: flex;
  justify-content: center;
  max-width: 65vh; 
  height: auto;
}

.project-image img {
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  height: auto;
  padding: 1rem;
  border-radius: 25px;
}

.project-content{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.project-tech {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next row */
  justify-content: center;
  max-width: 55vh; 
  height: auto;
}

.project-tech img {
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  height: auto;
  border-radius: inherit; /* Inherit border-radius from the parent container */
}


.project-tech .logo {
  width: 5rem; /* Make each logo take up the full width of its container */
  padding: 1rem;
  box-sizing: border-box; /* Include padding in the total width */
  border-radius: 5px;
}

.project-content .cimple {
  text-decoration: none;
  color: #FFA500;
  font-weight: 600;
}

.project-content a:focus,
.project-content a:hover {
  text-decoration: none; 
  color: #FFA500; 
}