.project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: #f5f7f8;
  margin-top: 0rem;
  overflow: scroll;
}

.header-container {
  margin-top: none;
}

.project-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.toogle-container {
  display: flex;
}

.personal-button {
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
  width: 6rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.professional-button {
  margin-right: 1.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
  width: 6rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.professional-button:hover {
  transform: scale(1.15);
}

.personal-button:hover {
  transform: scale(1.15);
}

.project-image {
  display: flex;
  justify-content: center;
  max-width: 40%;
  max-height: 60vh;
}

.project-image img {
  max-width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 25px;
}

.project-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 40%;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 55vh;
  height: auto;
}

.project-tech img {
  max-width: 100%;
  height: auto;
  border-radius: inherit;
}

.project-tech .logo {
  /* width:calc(25% - 2rem); */
  width: 4.5rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.project-content .cimple {
  text-decoration: none;
  color: #ffa500;
  font-weight: 600;
}

.project-content a:focus,
.project-content a:hover {
  text-decoration: none;
  color: #ffa500;
}

@media (max-width: 450px) {
  .project-display {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
  }

  .project-tech .logo {
    width: 30%;
    padding: 0.5rem;
  }

  .project-image {
    max-width: 70%;
    max-height: 60vh;
  }


}

/* @media (max-width: 900px) {

} */
