
.nav-container {
  width: 100%;
  background-color: black;
  color:#F5F7F8;
  height: 5rem;

}

.contact-container {
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid  #FFA500;
  padding: 0.5rem;
  overflow: hidden;
  font-weight: 600;
  transition: border-color 0.3s;
  color: inherit; 
  text-decoration: none;
  transition: color 0.3s
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  margin-left: 1.5rem;
}

.nav-right {
  display: flex; 
  gap: 1rem; 
  margin-top: 0.5rem;
  margin-right: 1.5rem;
}

.nav-right p {
  margin: 0; 
  color:#FFA500;
  transition: color 0.3s;
}

.nav-right p:hover {
  color:#45474B; 
}

.contact-container:hover {
  border-color: #45474B; 
  background-color: #FFA500;
}

.contact-container a {
  border-color: #45474B; 
  text-decoration: none;
  color: inherit;
  transition: color 0.3s; /* Add transition property here */
}

.contact-container:hover a {
  color: #45474B; /* Add color change for the link on hover */
}